<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :client_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :client_description %>
  </div>

  <div class="field">
    <%= form.label :contactperson %>
    <%= form.text_field :contactperson, id: :client_contactperson %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :client_phone %>
  </div>

  <div class="field">
    <%= form.label :officeline %>
    <%= form.text_field :officeline, id: :client_officeline %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :client_email %>
  </div>

  <div class="field">
    <%= form.label :building %>
    <%= form.text_field :building, id: :client_building %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :client_street %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :client_location %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :client_city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :client_country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
