<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @printer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @printer.description %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @printer.operator %>
</p>

<p>
  <strong>Job:</strong>
  <%= @printer.job %>
</p>

<%= link_to 'Edit', edit_printer_path(@printer) %> |
<%= link_to 'Back', printers_path %>
